@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
.app {
	height: 100vh;
	width: 100vw;
	font-weight: 300;
	overflow: hidden;
}
.canvas {
	height: 100vh;
	width: 100vw;
}
.sidebar {
	position: fixed;
	top:0;
	right: 0;
	height: 100vh;
	width: 16%;
	background-color: #CB5599;
	/*color: #263238;*/
	color: #4A4A4A;
}
.section {
	width: 100%;
}

h3.section__heading{
	color: #263238;
	text-transform: uppercase;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-top: 10px;
	font-size: 16px;
}

.section--tool-selector {
	border-bottom: 2px solid #263238;
}

.tool-container{
	padding-left: 6px;
	display: inline-flex;
	vertical-align: middle;
	height: 40px;

}
#brush-select{
	width: 90%;
	color: #263238;
	letter-spacing: 1px;
	text-align: center;
}
#stamp-select{
	width: 90%;
	color: #263238;
	letter-spacing: 1px;
	text-align: center;
}
#eraser-select{
	width: 90%;
	color: #263238;
	letter-spacing: 1px;
	text-align: center;
}
/*BRUSH SIZE SECTION*/
.section--brush-size{
	border-bottom: 2px solid #263238;
}
.brush-size-container{
	padding-left: 10px;
	margin-bottom: 5px;
}
input[type="number"]{
	width: 90%;
	height: 20px;
	font-weight: bold;
	border: none;
}

/*BRUSH COLOR SECTION*/
.section--brush-color{
	border-bottom: 2px solid #263238;
}
.brush-color-container{
	padding-left: 10px;
	margin-bottom: 10px;
}
.color-input{
	width: 50px;
	border: none;
}
input[type="color"]{
	width: 60px;
	border: none;
}

/*IMAGE UPLOAD SECTION*/
.section--image-stamp{
	border-bottom: 2px solid #263238;
}
.image-container{
	padding-left: 10px;
	margin-bottom: 10px;
}
.fileButton span{
	color: #263238;
	letter-spacing: 1px;
}

/*.imgSource img{
	margin-top: 10px;
	width:100px;
	height:100px;
	margin:5px;
	margin-bottom: 20px;
}*/

/*RESET SECTION*/
.section--reset-canvas{
	border-bottom: 2px solid #263238;
}

.reset-container{
	padding-left: 10px;
	height: 40px;
}
#reset-select{
	color: #263238;
	letter-spacing: 1px;
}
/*SAVE SECTION*/
.section--save-canvas{
	border-bottom: 2px solid #263238;
}
.save-container{
	padding-left: 10px;
	height: 40px;
}
#save-select{
	color: #263238;
	letter-spacing: 1px;
}
/*//////////BUTTONS//////////*/

input[type="file" i]{
	display: none;
}

.fileButton,
button,
input[type="button" i] {
	border: 2px solid #D4D4D4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 10px;
	font-weight: bolder;
	padding: 5px 14px 5px 14px;
	margin-right: 3px;
	margin-bottom: 20px;
	text-decoration: none;

	display: inline-block;
	color: #4A4A4A;
	background-color: #A5A5A5;

	background: -webkit-linear-gradient(90deg, #868686 10%, #A5A5A5 100%);
	background: -moz-linear-gradient(90deg, #868686 10%, #A5A5A5 100%);
	background: -ms-linear-gradient(90deg, #868686 10%, #A5A5A5 100%);
	background: -o-linear-gradient(90deg, #868686 10%, #A5A5A5 100%);
}

.fileButton:hover,
button:hover,
input:hover,
nput[type="file" i]:hover,
input[type="button" i]:hover {
	/*border: 2px double #4A4A4A;*/
	border: 2px solid #D4D4D4;
	background: #A5A5A5;
	background: -webkit-linear-gradient(90deg, #A5A5A5 10%, #868686 100%);
	background: -moz-linear-gradient(90deg, #A5A5A5 10%, #868686 100%);
	background: -ms-linear-gradient(90deg, #A5A5A5 10%, #868686 100%);
	background: -o-linear-gradient(90deg, #A5A5A5 10%, #868686 100%);
}

.fileButton:active,
input:active,
input[type="button" i]:checked {
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.9);
	border: 2px solid #D4D4D4;
	background: #9E9E9E;
	background: -webkit-linear-gradient(90deg, #9E9E9E 10%, #F5F5F5 100%);
	background: -moz-linear-gradient(90deg, #9E9E9E 10%, #F5F5F5 100%);
	background: -ms-linear-gradient(90deg, #9E9E9E 10%, #F5F5F5 100%);
	background: -o-linear-gradient(90deg, #9E9E9E 10%, #F5F5F5 100%);
}
